# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Media uploads
media/

# Static build files
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Mac
.DS_Store

# Windows
Thumbs.db

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Migrations (optional for early dev)
*/migrations/*
!*/migrations/__init__.py

# Node modules (if you later add frontend tools)
node_modules/

# Build files
dist/
build/