.hero-section {
  height: 100vh;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("/assests/image/western_ghats_bannar.jpg") no-repeat center center/cover; ;
}

.navbar {
  background-color: #005F02;
}

.intro-western{
  background-color: #0d6714;
  display: flex;
  align-items: center;
  gap: 20px;
}

intro-content{
  flex: 1;
  color: #fff;
 
}
.intro-image{
  flex: 0 0 40%;
}

.intro-image img{
  max-width: 100%;
  height: auto;
}
